body,
h1,
h2,
p,
input,
ul,
li,
hr,
div {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body * {
  color: white;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sign-in {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at 0%, transparent 52%, #10172f 52%),
  linear-gradient( 34deg, #727ace 0%, #717bce 10%, transparent 10%, transparent 100%),
  linear-gradient( 27deg, #6c74cc 10%, #6c73cc 20%, transparent 20%, transparent 100%),
  linear-gradient( 27deg, #6871cb 20%, #6775cc 35%, transparent 35%, transparent 100%),
  linear-gradient( 22deg, #606ac3 35%, #6375c7 45%, transparent 45%, transparent 100%),
  linear-gradient( 22deg, #5f7bca 45%, #648fd2 100%);

  &__wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 15%;
  }

  &__logo {
    height: 61px;
    object-fit: contain;
  }

  &__support-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
  }

  &__input {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;

    &::placeholder {
      color: #616983;
      opacity: 1;
    }
  }

  &__heading {
    font-size: 32px;
  }

  &__text {
    color: #616983;
    margin-bottom: 20px;
  }

  &__submit-btn {
    width: 100%;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(90deg, #126bd5 0%, #48a4d9 100%);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-image 1s;

    &::before {
      position: absolute;
      border-radius: 5px;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(90deg, #48a4d9 0%, #126bd5 100%);
      z-index: -1;
      transition: opacity 2s linear;
      opacity: 0;
    }

    &:hover {
      cursor: pointer;

      &::before {
        opacity: 1;
      }

      & .arrow {
        animation: moveright 1s infinite;
      }


    }

    & .arrow {
        position: relative;
        margin-left: 10px;
      }
  }

  &__forgotten-text {
    display: inline-block;
  }

  &__reset-btn {
    display: inline-block;
    background: none;
    color: #3a91e2;
    border: none;
  }

  &__hr {
    background-color: #2f364f;
    color: #2f364f;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 100%;

    &--valid {
      background-color: green;
      color: green;
    }

    &--error {
      background-color: red;
      color: red;
    }
  }

  &__projects-list {
    height: 36vh;
    overflow: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
      border: 10px solid transparent;
      box-sizing: border-box;
    }

    &::-webkit-scrollbar-track {
      background-color: #10172f;
      border: 10px solid transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 20px;
      border: 10px solid transparent;
    }
  }

  &__li {
    height: 8.7vh;
  }

  &__projects {
    text-align: center;
    width: 25%;
  }

  &__link {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  &__error-message {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    color: black;
    font-size: 12px;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    &:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 8px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-right: 10px solid white;
      border-bottom: 8px solid transparent;
    }
  }
}

@keyframes moveright {
  from {left: 0px}
  to {left: 10px}
}
