$breakpoint1600: 1600px;
$breakpoint-tablet-lg: 1050px;
$breakpoint-mobile: 600px;

$helvetica-neue: 'HelveticaNeueRoman', sans-serif;
$helvetica-light: 'HelveticaNeueCyrLight', sans-serif;
$helvetica-medium: 'HelveticaNeueCyrMedium', sans-serif;
$helvetica-bold: 'HelveticaNeueCyrBold', sans-serif;
$museo: 'MuseoSans', sans-serif;
